<div id="account-container">
    <button mat-button (click)="backToMain()">
        <mat-icon>chevron_left</mat-icon>Back
    </button>

    <div class="header-container">
        <mat-card id="profile-card" appearance="outlined">
            <mat-card-header class="align-vertical">
                <img class="avatar" mat-card-avatar [src]="pfpLarge" alt="profile picture">
                <div class="hstack account-info">
                    <div>
                        <p class="larger-text"><b>{{ accountData?.displayName ?? '-' }}</b></p>
                        <p style="color: rgb(23, 74, 125);"><i>&#64;{{ username }}</i></p>
                    </div>
                    <div>
                        <p><b>{{ accountData?.followers ?? '-' }}</b></p>
                        <p>Followers</p>
                    </div>
                    <div>
                        <p><b>{{ accountData?.following ?? '-' }}</b></p>
                        <p>Following</p>
                    </div>
                    <div>
                        <p>Account Created</p>
                        <p><b>{{ accountData?.created ?? '---' }}</b></p>
                    </div>
                </div>
            </mat-card-header>
            <mat-card-content>
                <div class="hstack align-vertical">
                    <mat-icon>location_on</mat-icon>
                    <p><i>{{ accountData?.location ?? '---' }}</i></p>
                    <span class="spacer"></span>
                </div>
                <p>{{ accountData?.bio ?? '[ No bio ]' }}</p>
            </mat-card-content>

            <mat-card-actions class="bottom-card-button">
                <a mat-flat-button [href]="accountURL" target="_blank">Visit Profile</a>
            </mat-card-actions>
        </mat-card>

        <div id="card-spacer"></div>

        <mat-card id="stats-card" appearance="outlined">
            <mat-card-header>
                <mat-card-title><b>Account Analysis</b></mat-card-title>
                <mat-card-subtitle><i>Last Updated: {{ accountData?.lastUpdated ?? '---' }}</i></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="analysis-row">
                    <analysis-donut [analysis]="analysis?.sentiment"></analysis-donut>
                    <analysis-donut [analysis]="analysis?.emotions"></analysis-donut>
                    <analysis-donut [analysis]="analysis?.topics"></analysis-donut>
                    <analysis-donut [analysis]="analysis?.irony"></analysis-donut>
                    <analysis-donut [analysis]="analysis?.hate"></analysis-donut>
                    <analysis-donut [analysis]="analysis?.offensive"></analysis-donut>
                </div>
            </mat-card-content>
        </mat-card>

        <div id="card-spacer"></div>

        <mat-card id="freq-card" appearance="outlined">
            <mat-card-header>
                <mat-card-title><b>Common Words/Phrases</b></mat-card-title>
                <mat-card-subtitle><i>Last Updated: {{ accountData?.lastUpdated ?? '---' }}</i></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <frequency-analysis [wordFreqs]="analysis?.word_frequencies"></frequency-analysis>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div style="height: 100px"></div>
