<div id="freq-container">
    <div id="word-freq-chart">
        <apx-chart
            [title]="freqChartOptions.title!"
            [series]="freqChartOptions.series!"
            [chart]="freqChartOptions.chart!"
            [responsive]="freqChartOptions.responsive!"
        ></apx-chart>
    </div>
    <div id="bigram-freq-chart">
        <apx-chart
            [title]="bigramChartOptions.title!"
            [series]="bigramChartOptions.series!"
            [chart]="bigramChartOptions.chart!"
            [responsive]="bigramChartOptions.responsive!"
        ></apx-chart>
    </div>
</div>